body {
    background-color: #f4f6f9; 
}

.text-info {
    color: #17a2b8 !important;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.center {
    text-align: center !important;
    vertical-align: middle !important;
}

.left {
    text-align: left !important;
    vertical-align: middle !important;
}

.status {
    display: inline-block !important;
    width: auto !important;
    height: auto !important;
    padding: 0 12px !important;
    border-radius: 5px;
    font-weight: bold !important;
    color: #fff !important;
}


.selected {
    background-color: #138496 !important;
}

.card {
    border-radius: 1rem;
}

.card .fa-2x {
    opacity: 0.8;
}



